.gradle/
.idea/
.kotlin/
local.properties

build/
**/build/

*.apk
*.aab
*.jks
*.keystore

*.bak
*.bak_*
*.before_*
*.broken_*
*.crash_*
*.orig
*.old
*~

captures/
.externalNativeBuild/
.cxx/
*.hprof
